Package: [[name]]
Version: [[version]]
Maintainer: Pushkar Raste <praste@bloomberg.net, pushkar.raste@gmail.com>
Architecture: all
Section: admin
Priority: optional
Depends:java2-runtime, debconf (>= 0.5) | debconf-2.0
Recommends: python-yaml
Description: [[version]] - [[name]]
 dependency package, installs [[name]]
