<?xml version="1.0" encoding="UTF-8" ?>
<!--

    The MIT License
    Copyright (c) 2010 JmxTrans team

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd MMM yyyy HH:mm:ss}] %-6r %-5p (%C:%L) - %m\n"/>
        </layout>
    </appender>

    <appender name="asyncAppender" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="1024" />
        <param name="Blocking" value="true" />
        <!-- needed to get the class:linenumber output
             @see http://marc.info/?l=log4j-user&m=105591790712092&w=2 -->
        <param name="LocationInfo" value="true"/>
        <appender-ref ref="fileAppender" />
    </appender>

    <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${jmxtrans.log.dir}/jmxtrans.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyyMMdd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd MMM yyyy HH:mm:ss}] [%t] %-6r %-5p (%C:%L) - %m\n"/>
        </layout>
    </appender>

    <logger name="com.googlecode.jmxtrans">
        <level value="${jmxtrans.log.level}"/>
    </logger>

    <logger name="org.quartz">
        <level value="warn"/>
    </logger>

    <root>
        <level value="error"/>
        <appender-ref ref="asyncAppender"/>
    </root>

</log4j:configuration>
