<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd MMM yyyy HH:mm:ss}] %-6r %-5p (%C:%L) - %m\n"/>
        </layout>
    </appender>

    <logger name="com.googlecode.jmxtrans">
        <level value="debug"/>
    </logger>

    <logger name="org.quartz">
        <level value="warn"/>
    </logger>

    <root>
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
    </root>

</log4j:configuration>
