<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<contextName>jmxtrans</contextName>

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${jmxtrans.log.dir}/jmxtrans.log</File>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%d{dd MMM yyyy HH:mm:ss}] %-5p %c{10} - %m%n</Pattern>
		</layout>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${jmxtrans.log.dir}/%d{MM-dd-yyyy}.jmxtrans.log.gz
			</FileNamePattern>
			<MaxHistory>15</MaxHistory>
		</rollingPolicy>
	</appender>


	<appender name="file_async" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>1028</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="file" />
	</appender>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%d{dd MMM yyyy HH:mm:ss}] %-5p %c{10} - %m%n</Pattern>
		</layout>
	</appender>

	<logger name="com.googlecode.jmxtrans">
		<level value="${jmxtrans.log.level}" />
	</logger>

	<logger name="org.quartz">
		<level value="warn" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="console" />
		<appender-ref ref="file_async" />
	</root>


</configuration>
